extends ../layout

block content
    h1.
        Infophoto #{preferences._id}
    p Name: #{preferences.name}
    p Badge: #{preferences.badge}
    p DOB: #{preferencesDob}
    p Is Loved: #{preferences.isloved}